#googleMap
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
:javascript

  var map_topic_image = {
    'Football' : "#{image_path('football.svg')}",
    'Travel' : "#{image_path('travel.svg')}",
    'Politics' : "#{image_path('politics.svg')}",
    'Art' : "#{image_path('art.svg')}",
    'Dating' : "#{image_path('dating.svg')}",
    'Music' : "#{image_path('music.svg')}",
    'Movies' : "#{image_path('movies.svg')}",
    'Series' : "#{image_path('series.svg')}",
    'Food' : "#{image_path('food.svg')}"
  };

  function myMap() {
    navigator.geolocation.getCurrentPosition(showPosition);
    function showPosition(position) {
      var user_position = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
      map.panTo(user_position);
      new_marker.setPosition(user_position);
      new_radius.setCenter(user_position);
    }

    var mapProp = {
        center: new google.maps.LatLng(-34.906268,-56.186120),
        zoom:15,
    };

    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

    var new_marker = new google.maps.Marker({
      position: new google.maps.LatLng(-34.906268,-56.186120),
      map: map,
      icon: {
    		url: "#{image_path('marker.svg')}"
    	}
    });

    var new_radius = new google.maps.Circle({
      strokeColor: '#efc638',
      strokeWeight: 2,
      fillColor: 'white',
      fillOpacity: 0.7,
      map: map,
      center: new google.maps.LatLng(-34.906268,-56.186120),
      radius: 100
    });

    map.addListener('click', function(e) {
      placeMarker(e.latLng, map);
    });

    function placeMarker(location) {
      if (new_marker == null) {
        new_marker = new google.maps.Marker({
        position: location,
        map: map
        });
        new_radius = new google.maps.Circle({
          strokeColor: '#efc638',
          strokeWeight: 2,
          fillColor: 'white',
          fillOpacity: 0.7,
          map: map,
          center: new google.maps.LatLng(-34.906268,-56.186120),
          radius: 100
        });
      } else {
         new_marker.setPosition(location);
         new_radius.setCenter(location);
         new_radius.setRadius(parseInt($('#radius_select').val()));
      }
      $('#latitude').val(location.lat);
      $('#longitude').val(location.lng);
    }

    $( document ).ready(function() {
      $.getJSON("#{targets_path(format: :json)}", function(json) {
        $(json).each(function() {
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(this.latitude, this.longitude),
            map: map,
            icon: {
          		url: map_topic_image[this.topic]
          	}
          });

          var radius = new google.maps.Circle({
            strokeColor: 'transparent',
            strokeWeight: 2,
            fillColor: '#efc537',
            fillOpacity: 0.7,
            map: map,
            center: new google.maps.LatLng(this.latitude, this.longitude),
            radius: this.length
          });


        });
      });
    });

  }

  function loadLocation() {
    navigator.geolocation.getCurrentPosition(showPosition);
    function showPosition(position) {
      $('#latitude').val(position.coords.latitude);
      $('#longitude').val(position.coords.longitude);
    }
  }
%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAiW1JcyQxgKFXNbSLy19mciRsUqSneuE4&callback=myMap"}
= form_for @target, url: {action: "create"}, html: {class:"rectangle-3"} do |f|
  .rectangle-2
    %p.create-target= t('create_target')
  = image_tag image_path('group.svg'), |
    class: "group"                        |
  %p.page-title= t('create_new_target')
  %p.specify-area-lenght= t('specify_area_lenght')
  .length-rectangle
    = f.select(:length,[['100 m',100],['200 m',200],['500 m',500],['1 km', 1000]],{},id: "radius_select" ,class: "length")
  %p.target-title= t('target_title')
  .title-rectangle
    = f.text_field(:title, class:"title-input", value: t('choose_title'))
    %br/
  %p.select-a-topic= t('select_a_topic')
  .topics-title-rectangle
    %p.topics-title= t('talk_about')
  .topics-rectangle
    %ul.list
      - topics.each do |topic|
        %li{class: topic}
          = topic.capitalize
  = f.hidden_field(:topic, id:"topic")
  = f.hidden_field(:latitude, id:"latitude")
  = f.hidden_field(:longitude, id:"longitude")
  - if current_user
    = f.hidden_field(:user_id, value: current_user.id)
  %br/
  .submit-div
    = f.submit(t('save_target'), class:"submit")
  - if flash[:alert]
    .alert= flash[:alert]
  = image_tag image_path("smilies.png"), |
    class: "smilies"                        |
:javascript
  var $li = $('li').click(function() {
      $li.removeClass('selected');
      $(this).addClass('selected');
      var value = $(this)[0].innerText;
      $('#topic').val(value);
  });
