#googleMap
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
:javascript
  function myMap() {
    var mapProp = {
        center: new google.maps.LatLng(-34.906268,-56.186120),
        zoom:15,
    };

    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(-34.906268,-56.186120),
      map: map,
      icon: {
    		url: "#{image_path('marker')}"
    	}
    });

    map.addListener('click', function(e) {
      placeMarker(e.latLng, map);
    });

    function placeMarker(location) {
      if (marker == null) {
        marker = new google.maps.Marker({
        position: location,
        map: map
        });
      } else {
         marker.setPosition(location);
      }
      $('#latitude').val(location.lat);
      $('#longitude').val(location.lng);
    }
  }
  function loadLocation() {
    $('#latitude').val(-34.906268);
    $('#longitude').val(-56.186120);
  }
%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAiW1JcyQxgKFXNbSLy19mciRsUqSneuE4&callback=myMap"}
= form_for @target, url: {action: "create"}, html: {class:"rectangle-3"} do |f|
  .rectangle-2
    %p.create-target= t('create_target')
  = image_tag image_path('group.svg'), |
    class: "group"                        |
  %p.page-title= t('create_new_target')
  %p.specify-area-lenght= t('specify_area_lenght')
  .length-rectangle
    = f.select(:length,[['100 m',100],['200 m',200],['500 m',500],['1 km', 1000]],{},class: "length")
  %p.target-title= t('target_title')
  .title-rectangle
    = f.text_field(:title, class:"title-input", value: t('choose_title'))
    %br/
  %p.select-a-topic= t('select_a_topic')
  .topics-title-rectangle
    %p.topics-title= t('talk_about')
  .topics-rectangle
    %ul.list
      - topics.each do |topic|
        %li{class: topic}
          = topic.capitalize
  = f.hidden_field(:topic, id:"topic")
  = f.hidden_field(:latitude, id:"latitude")
  = f.hidden_field(:longitude, id:"longitude")
  %br/
  .submit-div
    = f.submit(t('save_target'), class:"submit")
  - if flash[:alert]
    .alert= flash[:alert]
  = image_tag image_path("smilies.png"), |
    class: "smilies"                        |
:javascript
  var $li = $('li').click(function() {
      $li.removeClass('selected');
      $(this).addClass('selected');
      var value = $(this)[0].textContent;
      $('#topic').val(value);
  });
