= image_tag image_path("smilies_big.svg"), |
  class: "smilies-big"                        |
%p.target-mvd= t('target_mvd')
%p.home-title= t('home_title')
%p.home-text= t('home_text')
= render "targets/facebook_button"
